  <div class="kansio-puu-paa-linkit">

  	<a  href="{{ site.baseurl }}/index.html"> <li><div class="kansio-puu-merkki-main home"> {{ site.data.owner.name }}</div></li></a>

  	<a  href="https://github.com/{{ site.data.owner.name }}{{ site.baseurl }}/tree/gh-pages/_posts" target="_blank"> <li><div class="kansio-puu-merkki-main"> Post Management</div></li></a>

  	<a  href="{{ site.baseurl }}/favourites.html"> <li><div class="kansio-puu-merkki-main"> Favourites</div></li></a>
  	
  	<a  href="{{ site.baseurl }}/about.html"> <li><div class="kansio-puu-merkki-main"> About</div></li></a>

  </div>
