@charset "UTF-8";
@import url(Lindeman.css);
@import url(normalize.css);
@import url(ruutu.css);
@import url(tyyli.css);
/*  cool blue: */
/* almost andoird: */
/* lime */
/* line 19, ../sass/style.scss */
header {
  color: rgba(100, 100, 100, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /*
  		background: -webkit-linear-gradient($puu-tausta,$puu-tausta - 30); 
  		background: -o-linear-gradient($puu-tausta,$puu-tausta  - 30); 
  		background: -moz-linear-gradient($puu-tausta,$puu-tausta - 30); 
  		background: linear-gradient($puu-tausta,$puu-tausta - 90); 
  		*/
}

/* line 31, ../sass/style.scss */
a {
  color: rgba(100, 100, 100, 0.9);
}

/* line 39, ../sass/style.scss */
.kansio-puu {
  width: 100%;
  margin: 0 auto;
}
/* line 42, ../sass/style.scss */
.kansio-puu ul {
  list-style-type: none;
}
/* line 45, ../sass/style.scss */
.kansio-puu a {
  color: rgba(100, 100, 100, 0.9);
}
/* line 48, ../sass/style.scss */
.kansio-puu li {
  margin-top: 2px;
}

/* line 55, ../sass/style.scss */
.kansio-otsikko {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-height: 25px;
  padding-left: 3px;
  color: rgba(100, 100, 100, 0.9);
  display: none;
}

/* line 64, ../sass/style.scss */
.kansio-puu-ylimerkki {
  width: 100%;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 71, ../sass/style.scss */
.kansio-puu-ylimerkki img {
  margin-top: 3px;
  padding-right: 5px;
  height: 100%;
  width: auto;
}

/*
.kansio-puu-ylimerkki:before {
	content:"\203A";
	padding-right:3px;
	color:$main-color;
	cursor:pointer;
}
*/
/* line 98, ../sass/style.scss */
.kansio-puu-alimerkki {
  padding-left: 10px;
}
/* line 103, ../sass/style.scss */
.kansio-puu-alimerkki img {
  margin-top: 3px;
  padding-right: 5px;
  vertical-align: top;
  height: 100%;
  width: auto;
}

/* line 112, ../sass/style.scss */
.kansio-puu-alimerkki:before {
  content: none;
}

/* line 116, ../sass/style.scss */
.kansio-sisalto, .ensi-rivi {
  min-height: 100%;
  background-color: white -10;
}
/* line 120, ../sass/style.scss */
.kansio-sisalto ul, .ensi-rivi ul {
  list-style-type: none;
  padding: 15px 5px 5px 5px;
}

/* line 129, ../sass/style.scss */
.kansio-sisalto-merkki:before {
  padding-right: 3px;
  color: rgba(60, 190, 250, 0.7);
  cursor: pointer;
}

/* line 137, ../sass/style.scss */
.kansio-kontti {
  display: none;
  background-color: white;
}

/* line 144, ../sass/style.scss */
.aktiivinen, .kansio-puu-ylimerkki:hover, .kansio-puu-merkki:hover, .kansio-puu-merkki-main:hover, .ensi-rivi, .auki-merkki {
  background: -webkit-linear-gradient(rgba(60, 190, 250, 0.7), rgba(90, 220, 255, 0.7));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(60, 190, 250, 0.7), rgba(30, 160, 220, 0.7));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(60, 190, 250, 0.7), rgba(30, 160, 220, 0.7));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(60, 190, 250, 0.7), rgba(30, 160, 220, 0.7));
  /* Standard syntax */
  color: rgba(240, 255, 255, 0.7);
}

/* line 154, ../sass/style.scss */
html {
  height: 100%;
}

/* line 158, ../sass/style.scss */
body {
  background-color: rgba(50, 50, 50, 0.2);
  font-family: 'Open Sans', 'sans-serif';
  height: 100%;
  color: rgba(100, 100, 100, 0.9);
}

/* Tämä on se efekti, joka tulee maalatessa hiirellä sivulla */
/* line 168, ../sass/style.scss */
::selection {
  background: rgba(60, 190, 250, 0.7);
  /* Safari */
  color: rgba(100, 100, 100, 0.9);
}

/* line 174, ../sass/style.scss */
::-moz-selection {
  background: rgba(60, 190, 250, 0.7);
  /* Firefox */
  color: rgba(100, 100, 100, 0.9);
}

/* line 183, ../sass/style.scss */
.kolumni-2-tablet {
  padding: 0 0 0 3px;
}

/* line 188, ../sass/style.scss */
.kolumni-10-tablet {
  padding: 0;
  height: 100%;
  background-color: whitesmoke;
  border-left: 1px solid #afafaf;
}

/* line 198, ../sass/style.scss */
.polku-rivi, .teksti-otsikko {
  font-size: 105%;
  width: 100%;
  height: 25px;
  background-color: #e6e6e6;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(100, 100, 100, 0.9);
  padding-left: 5px;
}

/* line 212, ../sass/style.scss */
.polku-kategoria {
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  color: rgba(100, 100, 100, 0.9);
}

/* line 219, ../sass/style.scss */
.polku-kategoria:after {
  content: "/";
  color: rgba(60, 190, 250, 0.7);
}

/* line 227, ../sass/style.scss */
.polku-alikategoria {
  float: left;
  padding-right: 5px;
}

/* line 231, ../sass/style.scss */
.polku-alikategoria:after {
  content: "/";
  color: rgba(60, 190, 250, 0.7);
  padding-left: 5px;
}

/* line 240, ../sass/style.scss */
.polku-osa {
  float: left;
  color: rgba(100, 100, 100, 0.9);
}

/* line 245, ../sass/style.scss */
.polku-osa:after {
  content: "/";
  color: rgba(60, 190, 250, 0.7);
  padding: 0 5px 0 5px;
}

/* line 253, ../sass/style.scss */
.alikansio-kategoria, .alikansio-otsikko {
  display: none;
}

/* line 261, ../sass/style.scss */
.teksti-otsikko {
  background: -webkit-linear-gradient(rgba(60, 190, 250, 0.7), rgba(30, 160, 220, 0.7));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(60, 190, 250, 0.7), rgba(30, 160, 220, 0.7));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(60, 190, 250, 0.7), rgba(30, 160, 220, 0.7));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(60, 190, 250, 0.7), rgba(30, 160, 220, 0.7));
  /* Standard syntax */
  padding-left: 5px;
  color: rgba(240, 255, 255, 0.7);
  border-bottom: none;
  border-radius: 0;
  border-radius: 2px 2px 0px 0px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* line 277, ../sass/style.scss */
.teksti-kontti {
  padding: 15px 15px 0 15px;
}

/* line 281, ../sass/style.scss */
.teksti-sisalto {
  border-left: 1px solid rgba(60, 190, 250, 0.7);
  border-right: 1px solid rgba(60, 190, 250, 0.7);
  border-bottom: 1px solid rgba(60, 190, 250, 0.7);
  background: white;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  min-height: 350px;
}

/* line 291, ../sass/style.scss */
.paa-kontti {
  background-color: white;
}

/* line 295, ../sass/style.scss */
.ensi-rivi {
  color: rgba(255, 255, 255, 0.7);
}

/* line 301, ../sass/style.scss */
.kansio-sisalto table td, .ensi-rivi table td {
  padding: 2px 5px 2px 2px;
}

/* line 309, ../sass/style.scss */
.kansio-sisalto tr, .ensi-rivi tr {
  width: 100%;
}

/* line 313, ../sass/style.scss */
.tiedosto-otsikko-td {
  width: 100%;
}
/* line 316, ../sass/style.scss */
.tiedosto-otsikko-td img {
  height: 100%;
  width: auto;
  padding-top: 3px;
  padding-right: 5px;
}

/* line 325, ../sass/style.scss */
.kansio-puu-paa-linkit {
  border-bottom: 1px solid rgba(150, 150, 150, 0.2);
  padding-bottom: 5px;
}

/* line 331, ../sass/style.scss */
.index-kontti {
  display: block;
  float: left;
  background-color: rgba(210, 210, 210, 0.2);
  min-height: 97%;
  width: 100%;
}
/* line 338, ../sass/style.scss */
.index-kontti .kolumni-4-tablet {
  float: left;
  width: 100%;
}
/* line 341, ../sass/style.scss */
.index-kontti .kolumni-4-tablet img {
  border: 1px solid rgba(60, 190, 250, 0.7);
  float: left;
  width: 150px;
  height: auto;
}

/* line 353, ../sass/style.scss */
.index-tiedot {
  padding: 5px;
  float: left;
}
/* line 359, ../sass/style.scss */
.index-tiedot ul {
  list-style-type: none;
}

/* line 377, ../sass/style.scss */
code, pre {
  background-color: #F9F9F9;
  color: black;
  line-height: 1.1em;
  padding: 0 5px 0 5px;
}

/* line 387, ../sass/style.scss */
pre {
  max-width: 99%;
}

/* line 394, ../sass/style.scss */
.alikansio-puu-linkki {
  display: none;
  width: 100%;
  height: auto;
}

/* line 402, ../sass/style.scss */
.ylikansio {
  width: 100%;
}

/*
.auki-merkki:before{
	content:"\203A";
	color:$main-color + 180;
	transform:rotate(90deg);
}
*/
